@model IEnumerable<OrderBean>
@{
    var ruolo = HttpContextAccessor.HttpContext.Session.GetString("Role");
    ViewBag.Title = "Upo e-Commerce - LISTA ORDINI";
    bool count = Model.Count() != 0;

}
<div class="container">
    <div class="main">

        <!-- Controllo ruoli: solo user puo' accedere agli ordini personali -->
        @if (ruolo == null)
        {
            <h1>
                Non sei loggato!<br /><br />
                @Html.ActionLink("Login", "Login", "User")
            </h1>
        }
        else if (ruolo.Equals("admin"))
        {
            <h1>Area riservata agli utenti!</h1>
        }
        else
        {
            <h1>Lista Ordini</h1>

            <!-- Se il model e' vuoto (nessun ordine oppure filtro "sbagliato")  -->
            @if (!count)
            {
                <div id="desc">
                    <h2>Nessun Ordine!</h2>
                </div>
            }
            else
            {
                <!-- Tabella elenco ordini -->
                <table class="ordine">
                    <tr>
                        <th>Codice ordine</th>
                        <th>Data</th>
                        <th>Stato</th>
                        <th>Totale ordine</th>
                        <th>Nome prodotto</th>
                        <th>Quantita'</th>
                    </tr>
                    @foreach (var group in Model.GroupBy(item => item.OrderId))
                    {
                        var Ordine = group.First();
                        @:<tr>
                        <td rowspan="@group.Count()">@group.Key </td>
                        <td rowspan="@group.Count()">@Ordine.Data.Day/@Ordine.Data.Month/@Ordine.Data.Year</td>
                        <td rowspan="@group.Count()">
                            @if (Ordine.State.Equals("sent"))
                            {
                                <p>Inviato</p>
                            }
                            else
                            {
                                <p>Processato</p>
                            }
                        </td>
                        <td rowspan="@group.Count()">@Ordine.TotalPrice</td>

                        <!-- Elenco prodotti contenuti nell'ordine -->
                        @foreach (var s in group)
                        {
                                <!-- Link al dettaglio prodotto -->
                            <td>@Html.ActionLink(s.Title, "ProductDetails", "Product", new { s.ProductId }, new { @class = "linkprod" })</td>
                                <td>@s.Quantity</td>
                                @:</tr>





                            }
                        
}
                </table>
            }

           
        }
    </div>
</div>
