@model IEnumerable<OrderBean>
@{
    ViewBag.Title = "OrdersListAdmin";
    var ruolo = HttpContextAccessor.HttpContext.Session.GetString("Role");
    bool count = Model.Count() != 0;

}
<div class="container">
    <div class="main">

        <!-- Controllo ruoli: solo admin puo' accedere all'elenco di tutti gli ordini -->
        @if (ruolo == null)
        {
            <h1>
                Non sei loggato!<br /><br />
                @Html.ActionLink("Login", "Login", "User")
            </h1>
        }
        else if (ruolo.Equals("user"))
        {
            <h1>Area riservata agli amministratori!</h1>
        }
        else
        {
            <h1>Lista Ordini</h1>

        <!-- Se il model e' vuoto (nessun ordine oppure filtro "sbagliato")  -->
            @if (!count)
            {
                <div id="desc">
                    <h2>Nessun Ordine!</h2>
                </div>
            }
            else
            {
            <!-- Tabella ordini globali -->
                <div class="table">
                    <table class="ordine">
                        <tr>
                            <th>Codice Ordine</th>
                            <th>Cliente</th>
                            <th>Data</th>
                            <th>Totale ordine</th>
                            <th>Stato</th>
                            <th>Modifica Stato Ordine</th>
                            <th>Prodotto</th>
                            <th>Quantita'</th>
                        </tr>

                        @foreach (var group in Model.GroupBy(item => item.OrderId))
                    {
                        var Ordine = group.First();
                            @:<tr>
                        <td rowspan="@group.Count()">@group.Key </td>
                                <td rowspan="@group.Count()">@Ordine.Email</td>
                                <td rowspan="@group.Count()">@Ordine.Data.Day/@Ordine.Data.Month/@Ordine.Data.Year</td>
                                <td rowspan="@group.Count()">@Ordine.TotalPrice</td>
                                <td rowspan="@group.Count()">@Ordine.State</td>

                                <!-- Permette di modificare lo stato solo da sent a processed -->
                                <td rowspan="@group.Count()">
                                    @if (Ordine.State.Equals("sent"))
                                    {
                                <!-- FORM modifica ordini -->
                                        @using (Html.BeginForm("Update", "Order", FormMethod.Post))
                                        {
                                            <fieldset>
                                                <input type="text" name="ordine" id="ordine" value="@group.Key" hidden />
                                                <select name="stato" id="stato">
                                                    <option value="processed">processed</option>
                                                </select>
                                                <input class="botton__search" type="submit" value="Modifica" />
                                            </fieldset>
                                        }
                                    }
                                </td>
                                <!-- Elenco prodotti contenuti nell'ordine -->
                                @foreach (var s in group)
                                {
                                <!-- Link al dettaglio prodotto -->
                                    <td>@Html.ActionLink(s.Title, "ProductDetails", "Product", new { s.ProductId }, new { @class = "linkprod" })</td>
                                    <td>@s.Quantity</td>
                                    @:</tr>


                                }
                            

                         }

                    </table>
                </div>
            }
        }
    </div>
</div>
