@model IEnumerable<Product>
@{
    ViewData["Title"] = "ProductsListAdmin";
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}
<div class="container">
    <div class="main">

        <!-- Controlla il ruolo, solo gli admin possono modificare i prodotti -->
        @if (role == null)
        {
            <h1>
                Non sei loggato!<br /><br />
                @Html.ActionLink("Login", "Login", "User")
            </h1>
        }
        else if (role.Equals("user"))
        {
            <h1>Area riservata agli amministratori!</h1>
        }
        else
        {
            <h1>Gestione Prodotti</h1>

            <!-- Tabella con elenco di tutti i prodotti nel db -->
            <div class="table" style="padding-top:10px">
                @foreach (var s in Model)
                {
                    <table class="table">
                        <tr>
                            <td colspan="4">
                                @if (s.Image != null)
                                {
                                    <img src="data:image;base64,@System.Convert.ToBase64String(s.Image)"
                                         width="200" height="200" />
                                }
                                else
                                {
                                    <img src="~/img/noimage.jpg" alt="NO IMAGE" width="200" height="200" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <!-- Link alla pagina con i dettagli del prodotto -->
                                @Html.ActionLink(s.Title, "ProductDetails", "Product", new { s.ProductId }, new { @class = "linkprod" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prezzo
                            </td>
                            <td></td>
                            <td>
                                Sconto
                            </td>
                            <td>
                                Disponibile
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (s.Discount > 0)
                                {
                                    <p style="text-decoration:line-through; text-decoration-color:red;">@s.Price &euro;</p>

                                }
                                else
                                {
                                    <p>@s.Price &euro;</p>

                                }
                            </td>
                            <td>
                                @if (s.Discount > 0)
                                {
                                    <b>@(s.Price - s.Discount) &euro;</b>
                                }
                            </td>
                            <td>
                                @if (s.Discount > 0)
                                {
                                    <i>@s.Discount &euro;</i>

                                }
                            </td>
                            <td>
                                @if (s.Disp.Equals("si"))
                                {
                                    <b>&#x2714;</b>
                                }
                                else
                                {
                                    <b>&#x2718;</b>
                                }

                            </td>
                        </tr>
                        <tr></tr>

                        <tr>
                            <td colspan="4">

                                <!-- Form per modificare prezzo/sconto/disponibilità del prodotto -->
                                @using (Html.BeginForm("Update", "Product", FormMethod.Post))
                                {
                                    <fieldset>

                                        <input type="text" name="product" id="product" value="@s.ProductId" hidden />
                                        <input type="number" name="price" id="price" min="0" />Prezzo<br />
                                        <input type="number" name="discount" id="discount" min="0" />Sconto<br />
                                        <select name="disp" id="disp">
                                            @if (s.Disp.Equals("si"))
                                            {
                                                <option value="si" selected="selected">Disponibile</option>
                                                <option value="no">no</option>
                                            }
                                            else
                                            {
                                                <option value="si">si</option>
                                                <option value="no" selected="selected">NON Disponibile</option>
                                            }
                                        </select>
                                        <br />
                                        <br />
                                        <input type="submit" class="botton__search" value="Modifica Prodotto" />
                                    </fieldset>
                                }
                            </td>
                        </tr>

                    </table>
                }
            </div>
        }
    </div>
</div>