@model IEnumerable<Product>

@{
    ViewData["Title"] = "Search";
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}

<div class="container">
    <div class="main">
        <h1>Risultato della ricerca</h1>

        @if (Model.Count() == 0)
        {
            <h1>Non &eacute; stato trovato nessun prodotto</h1>
        }
        else
        {
            <!--Tabella con i prodotti che contengono la stringa cercata nel titolo o nella descrizione -->
            <div class="tables">
                @foreach (var s in Model)
                {
                    <table class="table">
                        <tr>
                            <td colspan="4">
                                @if (s.Image != null)
                                {
                                    <img src="data:image;base64,@System.Convert.ToBase64String(s.Image)"
                                         width="200" height="200" />
                                }
                                else
                                {
                                    <img src="~/Image/noimage.jpg" alt="NO IMAGE" width="200" height="200" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <!--Link alla pagina con i dettagli del prodotto  -->
                                @Html.ActionLink(s.Title, "ProductDetails", "Product", new { s.ProductId }, new { @class = "linkprod" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prezzo
                            </td>
                            <td></td>
                            <td>
                                Sconto
                            </td>
                            <td>
                                Disp
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (s.Discount > 0)
                                {
                                    <p style="text-decoration:line-through; text-decoration-color:red;">@s.Price &euro;</p>

                                }
                                else
                                {
                                    <p>@s.Price &euro;</p>

                                }
                            </td>
                            <td>
                                @if (s.Discount > 0)
                                {
                                    <b>@(s.Price - s.Discount) &euro;</b>
                                }
                            </td>
                            <td>
                                @if (s.Discount > 0)
                                {
                                    <i>@s.Discount &euro;</i>

                                }
                            </td>
                            <td>
                                @if (s.Disp.Equals("si"))
                                {
                                    <b>&#x2714;</b>
                                }
                                else
                                {
                                    <b>&#x2718;</b>
                                }

                            </td>
                        </tr>
                        <tr></tr>

                        <!-- Se l'utente è di tipo user vede il bottono per aggiungere il prodotto al carrello, se questo è disponibile -->
                        @if ((role == null) || ((role != null) && role.Equals("user")))
                        {
                            <tr>
                                <td colspan="4">
                                    @if (s.Disp.Equals("si"))
                                    {
                                        @using (Html.BeginForm("Add", "Cart", FormMethod.Post))
                                        {
                                            <fieldset>
                                                <input type="text" name="prodotto" id="prodotto" value="@s.ProductId" hidden />
                                                <input type="number" name="quantita" id="quantita" min="0" value="1" />
                                                <input type="submit" class="botton__search" value="Aggiungi al carrello" />
                                            </fieldset>
                                        }
                                    }
                                    else
                                    {
                                        <b>Il prodotto non &eacute; disponibile!!!</b>

                                    }
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
        }
    </div>
</div>