@{
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
    var email = HttpContextAccessor.HttpContext.Session.GetString("Email");
}

<!-- Menu' nella barra di navigazione -->

<header class="header clearfix">

    <header__logo class="header__logo">ECommerceUPO <img src="~/Image/upoLogo.jpg" height="20" width="20" /></header__logo>
    <ul class="header__menu">

        

        <li class="header__menu__item">
            @using (Html.BeginForm("Search", "Product", FormMethod.Post))
            {
                <fieldset>
                    <input type="text" name="input" id="input" />
                    <input type="submit" class="botton__search" id="find" value="Cerca fra i prodotti" />
                </fieldset>
            }
        </li>

        <!--  Solo se non si è loggati o se si è loggati come user si puo' vedere il carrello  -->
        @if ((role == null) || (role != null && role.Equals("user")))
        {
            <li class="header__menu__item">
                <a href="@Url.Action("Index","Cart")"><img src="~/Image/cart.png" , alt="Carrello" height="25" width="30" /></a>
            </li>
        }
        <li class="header__menu__item">
            @Html.ActionLink("Home", "Index", "Home")
        </li>
        <li class="header__menu__item">
            @Html.ActionLink("SmallPrices", "SmallPrices", "SmallPrices")
        </li>
        <li class="header__menu__item">
            @Html.ActionLink("Prodotti", "Index", "Product")
        </li>

     

        <li class="header__menu__item">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == null)
        {
        @Html.ActionLink("Registrati", "Create", "User")
        }
        </li>

        <li class="header__menu__item">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == null)
        {
        @Html.ActionLink("Accedi", "Login", "User")
        }
        </li>

        <!---Altrimenti-->

        @if (role != null)
        {

                <!--Gli admin vedono le 3 pagine per gestire utenti/prodotti/ordini -->
            @if (role.Equals("admin"))
                {
             
                <li class="header__menu__item">
                    @Html.ActionLink("Gestione Utenti", "List", "User")
                </li>
                            <li class="header__menu__item">
                                @Html.ActionLink("Gestione Prodotti", "List", "Product")
                            </li>
                            <li class="header__menu__item">
                                @Html.ActionLink("Gestione Ordini", "List", "Order")
                            </li>

            }
            else if (role.Equals("user"))
            {

                <li class="header__menu__item">
                    @Html.ActionLink("Elenco Ordini", "Index", "Order")
                </li>

            }



            @if (HttpContextAccessor.HttpContext.Session.GetString("Role") != null)
            {

                <li class="header__menu__item">
                    @Html.ActionLink("Logout", "Logout", "User")
                </li>

            }
        }


    </ul>
    </header>







    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {

            $(".header__icon-bar").click(function (e) {

                $(".header__menu").toggleClass('is-open');
                e.preventDefault();

            });
        });
    </script>
